   <!-- Remove the container if you want to extend the Footer to full width. -->
   <div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row justify-content-center">
            <!--Grid column-->
            <div class="col-4 w-50">
              <h5 style="font-family: Poppins" class="text-uppercase">B<span class="text-danger">--</span>log</h5>
  
              <p>
                Thanks for exploring our blog!!!!!! Stay   connected for more insightful articles, tips, and
                resources to enrich your journey. Have a question or topic suggestion? Drop us a line
                at [meroblog@gmail.com]. Follow 
                us on social media  for the latest updates
                and exclusive content.               Happy reading!"
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-4 float-end w-25 pe-1">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/" class="text-white">Home</a>
                </li>
                <li>
                  <a href="/about" class="text-white">About</a>
                </li>
                <li>
                  <a href="https://www.google.com/maps/place/Satungal,+Chandragiri+44600/@27.6835373,85.249368,15z/data=!3m1!4b1!4m6!3m5!1s0x39eb22eb0e954efd:0x28f1bede4d062122!8m2!3d27.6825156!4d85.2489603!16s%2Fm%2F04jl3s0?entry=ttu" class="text-white">Contact</a>
                </li>
                <li>
                  <a href="/blog" class="text-white">Blog</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="mb-4" />
  
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <a href="/register"><button type="button" class="btn btn-outline-light btn-rounded">
              Sign up!
            </button></a>
          </p>
        </section>
        <!-- Section: CTA -->
  
        <hr class="mb-4" />
  
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a>
  
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/?lang=en" role="button"><i class="fab fa-twitter"></i></a>
  
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"><i class="fab fa-google"></i></a>
  
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" ><i class="fab fa-instagram"></i></a>
  
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://np.linkedin.com/" role="button"><i class="fab fa-linkedin-in"></i></a>
  
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/nikeshmaharjan02/" role="button" ><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" >
        © 2020 Copyright:
        <a class="text-white" href="/" >MeroBlog.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
